body {
	margin: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar	{
	width: 180px;
	height: 150;
	border-radius: 50px;
}

.card {
	width: 400px;
    margin: 0 auto;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	border-radius: 10px;
	text-align: center;
	background: #faf3dd;
	color: #2b2839;
	border-top: 6px dotted #ffa69e;
	border-bottom: 6px dotted #ffa69e;
	font-size: 15px;
}

.socials {
	width: 50px;
}

.contacts {
	font-size: 11px;
}

#borderimg {
  border: 10px solid transparent; /* Required for border-image */
  padding: 15px;
  border-image: url(border.png) 30 round;
}